.b-har-viewer__menu {
  height: 40px;
  padding-left: 40px;
  background-color: #E0E0E0;
  border-bottom: 1px solid #A09E9E;
  line-height: 40px;

  &__item {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;

    &.selected {
      box-shadow: inset -8px 0 10px -10px #888, inset 8px 0 10px -10px #888;
    }
  }
}