@import 'nib'

.b-timeline {
  position: relative;
  border: solid 1px #ccc;
  overflow: hidden;

  &__scroll-area {
    position: relative;
    height: 400px;
    overflow: scroll;
  }

  &__head {
    height: 20px;
    line-height: 20px;
    border-bottom: 1px solid #ccc;
    color: #ccc;

    &__filter {
      clearfix();
      position: relative;
      width: 300px;
      height: 20px;
      z-index: 1;
      background-color: #fff;
      border-right: 1px solid #ccc;
      border-bottom: solid 1px #ccc;

      &__item {
        padding: 0 10px;
        margin-right: 10px;
        font-size: 13px;
        border-radius: 10px;
        color: #908787;
        cursor: pointer;

        &:hover {
          color: #fff;
          background-color: #cabdbb;
        }

        &.selected {
          color: #fff;
          background-color: #9D5858;
        }
      }

      &__button {
        float: right;
        width: 16px;
        height: 16px;
        margin: 2px 10px 0 0;
        border: solid 1px;
        box-sizing: border-box;
        line-height: 10px;
        padding: 2px;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: #ccc;
          color: #fff;
        }
      }
    }

    &__time {
      position: absolute;
      top: 0;
      left: 300px;

      &__item {
        position: absolute;

        &__line {
          position: absolute;
          left: 50%;
          width 0;
          height: 400px;
          border-right: 1px dashed #ccc;
        }
      }
    }
  }

  &__names {
    width: 300px;
    border-right: 1px solid #ccc;
    background-color: #fff;

    &__item {
      position: relative;
      width: 300px;
      height: 40px;
      padding: 5px;
      box-sizing: border-box;
      border-bottom: 1px solid #ccc;

      &__path {
        position: absolute;
        bottom: 0;
        width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #ccc;
        font-size: 12px;
      }

      &__short {
        width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }

  &__time {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    overflow: scroll;

    &__item {
      position: relative;
      width: 10000px;
      height: 40px;
      border-bottom: 1px solid #ccc;
      box-sizing: border-box;

      &__filled {
        position: absolute;
        height: 100%;
        top: 0;
        background-color: #C5A479;
      }
    }
  }
}