.b-har-viewer__menu {
  height: 40px;
  padding-left: 40px;
  background-color: #e0e0e0;
  border-bottom: 1px solid #a09e9e;
  line-height: 40px;
}
.b-har-viewer__menu__item {
  display: inline-block;
  padding: 0 10px;
  cursor: pointer;
}
.b-har-viewer__menu__item.selected {
  box-shadow: inset -8px 0 10px -10px #888, inset 8px 0 10px -10px #888;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  font-family: arial, sans-serif;
}
.b-har-viewer__page {
  padding-top: 30px;
}

.b-timeline {
  position: relative;
  border: solid 1px #ccc;
  overflow: hidden;
}
.b-timeline__scroll-area {
  position: relative;
  height: 400px;
  overflow: scroll;
}
.b-timeline__head {
  height: 20px;
  line-height: 20px;
  border-bottom: 1px solid #ccc;
  color: #ccc;
}
.b-timeline__head__filter {
  zoom: 1;
  position: relative;
  width: 300px;
  height: 20px;
  z-index: 1;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-bottom: solid 1px #ccc;
}
.b-timeline__head__filter:before,
.b-timeline__head__filter:after {
  content: "";
  display: table;
}
.b-timeline__head__filter:after {
  clear: both;
}
.b-timeline__head__filter__item {
  padding: 0 10px;
  margin-right: 10px;
  font-size: 13px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #908787;
  cursor: pointer;
}
.b-timeline__head__filter__item:hover {
  color: #fff;
  background-color: #cabdbb;
}
.b-timeline__head__filter__item.selected {
  color: #fff;
  background-color: #9d5858;
}
.b-timeline__head__filter__button {
  float: right;
  width: 16px;
  height: 16px;
  margin: 2px 10px 0 0;
  border: solid 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 10px;
  padding: 2px;
  text-align: center;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.b-timeline__head__filter__button:hover {
  background-color: #ccc;
  color: #fff;
}
.b-timeline__head__time {
  position: absolute;
  top: 0;
  left: 300px;
}
.b-timeline__head__time__item {
  position: absolute;
}
.b-timeline__head__time__item__line {
  position: absolute;
  left: 50%;
  width: 0;
  height: 400px;
  border-right: 1px dashed #ccc;
}
.b-timeline__names {
  width: 300px;
  border-right: 1px solid #ccc;
  background-color: #fff;
}
.b-timeline__names__item {
  position: relative;
  width: 300px;
  height: 40px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.b-timeline__names__item__path {
  position: absolute;
  bottom: 0;
  width: 300px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #ccc;
  font-size: 12px;
}
.b-timeline__names__item__short {
  width: 300px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.b-timeline__time {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  overflow: scroll;
}
.b-timeline__time__item {
  position: relative;
  width: 10000px;
  height: 40px;
  border-bottom: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-timeline__time__item__filled {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: #c5a479;
}

.b-har-viewer__add__mode {
  zoom: 1;
  width: 205px;
  height: 40px;
  margin: 0 auto;
}
.b-har-viewer__add__mode:before,
.b-har-viewer__add__mode:after {
  content: "";
  display: table;
}
.b-har-viewer__add__mode:after {
  clear: both;
}
.b-har-viewer__add__mode__item {
  float: left;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: dotted 1px #ccc;
  text-align: center;
  cursor: pointer;
}
.b-har-viewer__add__mode__item.selected {
  background-color: #eee;
}
.b-har-viewer__add__form {
  width: 400px;
  height: 60px;
  padding: 10px;
  margin: 10px auto;
  border: dotted 1px #ccc;
}
.b-har-viewer__add__form__url__input {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b-har-viewer__add__form__url__button {
  width: 100px;
  height: 27px;
  margin-top: 5px;
  border: none;
  background-color: #926d49;
  color: #fff;
  cursor: pointer;
}
.b-har-viewer__add__form__file__input {
  display: block;
  margin: 20px auto;
}

.b-har-viewer__compare__form {
  zoom: 1;
  width: 400px;
  margin: 0 auto 30px;
}
.b-har-viewer__compare__form:before,
.b-har-viewer__compare__form:after {
  content: "";
  display: table;
}
.b-har-viewer__compare__form:after {
  clear: both;
}
.b-har-viewer__compare__form__select {
  display: block;
  float: left;
  width: 300px;
  margin: 0 auto 30px;
}
.b-har-viewer__compare__form__button {
  position: relative;
  top: -2px;
  left: 10px;
  padding: 5px 7px 8px;
  line-height: 7px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #926d49;
  color: #fff;
  border: none;
  cursor: pointer;
}

.b-har-viewer__timeline__select {
  display: block;
  width: 300px;
  margin: 0 auto 30px;
}
