@import 'nib'

.b-har-viewer__add__form {
  width: 400px;
  margin: 100px auto;
  text-align: center;
  border: 2px dashed #ccc;
  border-radius: 5px;
  line-height: 200px;

  .drag-over & {
    border-color: #171717;
  }
}