@import "nib";

.b-har-viewer__compare {
	&__form {
		clearfix();
		width: 400px;
		margin: 0 auto 30px;

		&__select {
			display: block;
			float: left;
			width: 300px;
			margin: 0 auto 30px;
		}

		&__button {
			position: relative;
			top: -2px;
			left: 10px;
			padding: 5px 7px 8px;
			line-height: 7px;
			border-radius: 10px;
			background-color: #926d49;
			color: #fff;
			border: none;
			cursor: pointer;
		}
	}
}