<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HAR viewer</title>
	<link rel="stylesheet" href="/css/out.css" />
	<script type="text/javascript" src="/js/libs/require.js" data-main="/js/app.js"></script>
	<script type="text/plain" id="har-viewer-config">{{&config}}</script>
</head>
<body>
</body>
</html>