<div class="b-har-viewer__menu">
	<div class="b-har-viewer__menu__item selected" data-page="add">Add</div>
	<div class="b-har-viewer__menu__item" data-page="timeline">Timeline</div>
	<div class="b-har-viewer__menu__item" data-page="compare">Compare</div>
</div>