<div class="b-har-viewer__add__form__url">
	<input type="text" class="b-har-viewer__add__form__url__input" placeholder="http://" />
	<button class="b-har-viewer__add__form__url__button">OK</button>
</div>