<div class="b-har-viewer__page b-har-viewer__compare">

	<div class="b-har-viewer__compare__form">
		<select class="b-har-viewer__compare__form__select"></select>
		<button class="b-har-viewer__compare__form__button">+</button>
	</div>

	<div class="b-har-viewer__compare__content"></div>

</div>